.collapse {
    
    margin-top: 30px;

    .collapse_title {
        display: flex;
        justify-content: space-between;
        background: var(--red, #FF6060);
        border-radius: 5px;
        padding: 10px 20px 10px 15px;
        
        h2 {
        color: white;
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 500;
        margin: 0;
    }
    }

    .collapse_description {
        display: flex;
        padding: 25px 28px 20px 20px;
        align-items: center;
        border-radius: 10px 10px 5px 5px;
        background: var(--gray, #f6f6f6);

        span {
            font-family: 'Montserrat';
            font-size: 18px;
            color: #FF6060;
        }
    }
}