@import '../base/typography';

.collapse {
    width: 100%;
    margin-top: 30px;

    .collapse_title {
        display: flex;
        justify-content: space-between;
        background: var(--red, #FF6060);
        border-radius: 5px;
        padding: 10px 20px 10px 15px;
        
        h2 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        }

        img:hover {
            cursor: pointer;
        }

        .img_open {
            transform: rotate(-180deg);
            transition-duration: 1000ms;
        }

    }

    .collapse_description {
        display: none;
        height: 0;
        align-items: center;
        border-radius: 10px 10px 5px 5px;
        background: var(--gray, #f6f6f6);

        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: #FF6060;
        }
    }

    .collapse_description_open {
        display: flex;
        animation: open ease-in-out 1000ms normal;
        padding: 25px 28px 20px 20px;
        height: 100%;
    }
    
}