@import '../base/typography';
@import '../utils/mixins';

.collapse {
    width: 100%;
    margin-top: 30px;

    @include mobile-only {
        margin-top: 20px;
    }

    .collapse_title {
        display: flex;
        justify-content: space-between;
        background: var(--red, #FF6060);
        border-radius: 5px;
        padding: 10px 20px 10px 15px;

        @include mobile-only {
            padding: 5px 3px 5px 5px;
        }
        
        h2 {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 500;
            margin: 0;

            @include mobile-only {
                font-size: 13px;
                height: 16px;
                align-self: center;
            }
        }

        img {
            @include mobile-only {
                width: 24px;
            }
        }

        img:hover {
            cursor: pointer;
        }

        .img_open {
            transform: rotate(-180deg);
            transition-duration: 500ms;
        }

        .img_close {
            transform: rotate(0);
            transition-duration: 500ms;
        }

    }

    .collapse_description {
        display: flex;
        align-items: center;
        border-radius: 10px 10px 5px 5px;
        background: var(--gray, #f6f6f6);
        padding: 0 28px 0 20px;
        //padding: 0;
        max-height: 0;
        overflow: hidden;
        
        span, li {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: #FF6060;
            list-style-type: none;

            @include mobile-only {
                font-size: 12px;
            }
        }

        ul {
            padding: 0;
            margin: 0;
        }
    }

    .collapse_description_open {
        padding: 25px 28px 20px 20px;
        max-height: 300px;
        transition: max-height 1000ms ease-in-out;
    }

    .collapse_description_close {
        padding: 0 28px 0 20px;
        max-height: 0;
        transition: max-height 500ms ease-in-out;
    }
}