@import '../base/typography';
@import '../utils/mixins';

.red {
    fill: #FF6060;
}

.gray {
    fill: gray;
}

.logement_description_contain {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    @include mobile-only {
        flex-direction: column;
        gap: 16px;
    }

    .title_and_tags {
        display: flex;
        flex-direction: column;

        .logement_title {
        display: flex;
        flex-direction: column;
        color: #FF6060;
        font-family: 'Montserrat', sans-serif;

        h1 {
            font-size: 36px;
            margin: 0;
            font-weight: 500;
            @include mobile-only {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 18px;
            margin: 0;
            font-weight: 500;

            @include mobile-only {
                font-size: 14px;
            }
        }
        }
        .logement_tags {
            display: flex;
            gap: 10px;
            list-style-type: none;
            padding: 0;
            margin-top: 20px;

            @include mobile-only {
                margin: 10px 0 0 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }


            li {
                padding: 3px 31px 2px 30px;
                border-radius: 10px;
                background: #FF6060;
                color: white;
                text-align: center;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;

                @include mobile-only {
                    font-size: 10px;
                    padding: 2px 15px;
                }
            }
        }
    }

    .host_and_rate {
        display: flex;
        flex-direction: column;
        gap: 21px;

        @include mobile-only {
            flex-direction: row-reverse;
            gap: 0;
            justify-content: space-between;
        }

        .logement_host {
            display: flex;
            gap: 10px;

            @include mobile-only {
                gap: 10px;
                justify-content: end;
            }

            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: #FF6060;
                margin: 0;
                align-self: center;

                @include mobile-only {
                    font-size: 12px;
                    width: 30%;
                }
            }

            .logement_host_img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 64px;

                @include mobile-only {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        .logement_rating {
            display: flex;
            gap: 4px;

           svg {
                width: 36px;
                height: 36px;

                @include mobile-only {
                    width: 18px;
                    height: 18px;
                }
           }
        }

    }
}