@import '../base/typography';
@import '../utils/mixins';

.error_contain {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    gap: 139px;

    @include mobile-only {
        gap: 113px;
    }

    h1 {
        font-size: 288px;
        font-weight: 700;
        margin: 0;
        margin-top: 139px;

        @include mobile-only {
            margin-top: 113px;
            font-size: 96px;
        }
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0;

        @include mobile-only {
            font-size: 18px;
        }
    }

    .error_contain_link {
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;

        @include mobile-only {
            font-size: 14px;
            align-self: center;
        }

        @include tablet-only {
            align-self: center;
        }
    }

    a:visited {
        text-decoration: none;
        color: #FF6060;
    }
}